.main-container {
    display: grid;
    grid-template-columns: 2.2fr 7.8fr;
}

:root {
    --gray: rgb(48, 48, 48);
}
.content-container {
    background-color: white;
    padding: 1rem;
    height: 91.2vh;
    overflow-y: auto;
    color: rgb(48, 48, 48);
}
.page-heading {
    border-bottom: 2px solid var(--gray);
}
.form-table {
    margin-top: 2rem;
    font-size: 1.2rem;
    min-width: 35rem;
}
.form-table input,
.form-table select {
    font-size: 1.2rem;
    padding: 0.1rem 0.5rem;
}
.form-table input[type='text'],
.form-table .school {
    width: 20rem;
}
.other {
    width: 10rem;
}
.form-table tr {
    margin: 0.1rem 0.3rem;
}
.form-table input[type='submit'],
.form-table input[type='reset'] {
    margin: 1rem;
    padding: 0.4rem 0.6rem;
    width: 6rem;
    border-style: none;
    outline: none;
    cursor: pointer;
    transition: 100ms;
}
.form-table input[type='submit']:active,
.form-table input[type='reset']:active {
    transform: scale(0.9);
    transition: 100ms;
}
.form-table input[type='submit'] {
    color: white;
    background-color: green;
}
.form-table input[type='reset'] {
    color: white;
    background-color: darkred;
}

#school-form textarea {
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 20rem;
    resize: none;
}
#school-form td {
    vertical-align: top;
}

.form-search-container > form {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.form-search-container > form > input[type='text'],
.form-search-container > form > input[type='number'] {
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}
.form-search-select {
    text-overflow: ellipsis;
    padding: 0.2rem 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    width: 10rem;
}
.short {
    width: 5rem;
}
.form-search-btn {
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
}
.view-table {
    margin-top: 2rem;
    min-height: 26rem;
}
.view-table > table {
    border-collapse: collapse;
    min-width: 50rem;
    font-size: 0.9rem;
    text-align: center;
    width: 95%;
}
.view-table th,
.view-table td {
    border: 1px solid black;
    padding: 0.5rem;
}
.view-table tr:nth-child(even) {
    background-color: rgb(198, 192, 231);
}
.view-table tr:nth-child(odd) {
    background-color: rgb(231, 231, 231);
}
.view-table tr:hover {
    background-color: rgb(170, 170, 170);
    cursor: pointer;
    transition: 0.2s;
}
.view-table th {
    background-color: var(--blue);
    padding: 0.8rem;
    color: white;
}
.action-btn {
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0 0.5rem;
}
.action-btn:hover {
    color: red;
}
.edit:hover {
    color: var(--blue);
}
.data-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagination-container {
    display: flex;
    list-style: none;
    margin: 1rem auto;
}

.pagination-container a {
    font-size: 1rem;
    cursor: pointer;
    padding: 0.2rem 0.8rem;
    margin: 0 0.5rem;
    border: 2px solid var(--blue);
    border-radius: 1rem;
    color: var(--blue);
}
.pagination-container a:hover {
    color: white;
    background-color: var(--blue);
}
.pagination-btn-active a {
    color: white;
    background-color: var(--blue);
}
