.menubar-container {
    background-color: white;
    min-width: 18rem;
    padding-top: 1rem;
    height: 91.2vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid gray;
    align-items: center;
    overflow: auto;
}
.menubar-container > a {
    text-decoration: none;
    color: black;
}
.menubar-container > a:visited {
    color: black;
}
.menubar-ele {
    cursor: pointer;
    display: flex;
    padding: 0.8rem;
    border: 2px solid white;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 2rem;
    width: 17rem;
    margin: 0.5rem 0;
    transition: 0.2s;
}
.menubar-ele:hover {
    background-color: var(--blue);
    border: solid 2px var(--blue);
    color: white;
    transition: 0.2s;
}
.selected {
    background-color: var(--blue);
    border: solid 2px white;
    color: white;
}
.selected:hover {
    background-color: whitesmoke;
    color: var(--blue);
    border: solid 2px var(--blue);
}
.logout {
    margin-top: auto;
    background-color: whitesmoke;
    border: 2px solid gray;
    color: #444;
}
.logout:hover {
    background-color: #444;
    border: 2px solid gray;
    color: white;
}
.menubar-ele > span {
    margin-left: 1rem;
}
.menubar-ele > svg {
    margin-left: 1rem;
}
